@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

body , html{
    overflow-x: hidden;
}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;

}

.nav-links li{
    margin: 0 30px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url('back.gif');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom:30px ;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right:30px;
    width: 40px;
    cursor: pointer;
    display:none;
}

section{
    width: 80%;
    margin: 80px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(156, 12, 12);
}
.r{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.r .c{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
   

}


.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p{
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn{
    margin-top: 30px;
}

.flex-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}

.card{
    width: 220px;
    height: 300px;
    margin: 20px;
    border-radius: 15px ;
    
}

.card-image{
   
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 15px 15px ;
}

.car-1{
    background-image: url('img5.png');
}

.car-2{
    background-image: url('img5.png');
}

.car-3{
    background-image: url('img5.png');
}

.car-4{
    background-image: url('img5.png');
}

.car-5{
    background-image: url('img5.png');
}



.flex-guest{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}





.car-11{
    background-image: url('poorvika.jpg');
}

.car-12{
    background-image: url('four.png');
}


#footer{
    background: #f7f7f7;
      padding: 3rem;
    /* padding-top: 5rem; */
    padding-top: 7rem;
      padding-bottom: 80px;
    background-image: url(https://arena.km.ua/wp-content/uploads/3538533.jpg);
  }
  #footer2{
    background: #f7f7f7;
      padding: 3rem;
      margin-top: 0px;
    /* padding-top: 5rem; */
    padding-top: 7rem;
      padding-bottom: 80px;
    background-image: url(../images/cards/v748-toon-111.png);
  }
  .logo-footer{
     max-width: 300px; 
  }
  .social-links{
     display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; 
  
  }
  .social-links h2{
    padding-bottom: 15px;
    font-size: 20px;
      font-weight: 600;
  }
  .social-links img{
    padding-bottom: 25px;
  }
  .social-icons{
     display: flex;
      gap: 3rem; 
    display: flex;
      flex-direction: column;
      gap: 1rem;
    color: #777777;
  }
  .social-icons a{
     font-size: 18px; 
      background: #ffffff; 
       box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 3px;
    color: #82074a; 
     margin-right: 18px; 
    color: #777777;
  }
  .social-icons a:hover{
    color: #000;
  }
  .social-icons a i{
    box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
      padding: 0.4rem 1rem 0.4rem 1rem;
      border-radius: 3px;
      color: #82074a;
    font-size: 16px;
    margin-right: 12px;
  }
  li{
    list-style: none;
  }
  .useful-link h2{
    padding-bottom: 15px;
    font-size: 20px;
      font-weight: 600;
  }
  .useful-link img{
    padding-bottom: 15px;
  }
  .use-links{
    line-height: 32px;
  }
  .use-links li i{
    font-size: 14px;
      padding-right: 8px;
      color: #898989;
  }
  .use-links li a{
    color: #303030;
      font-size: 15px;
      font-weight: 500;
    color: #777777;
  }
  .use-links li a:hover{
    color: #000;
  }
  .address h2{
    padding-bottom: 15px;
    font-size: 20px;
      font-weight: 600;
  }
  .address img{
    padding-bottom: 15px;
  }
  .address-links li a{
    color: #303030;
      font-size: 15px;
      font-weight: 700;
    color: #777777;
  
  }
  .address-links li i{
    font-size: 16px;
      padding-right: 8px;
    color: #82074a;
  
  }
  .address-links li i:nth-child(1){
    padding-top: 9px;
  }
  .address-links .address1{
    font-weight: 500;
      font-size: 15px;
    display: flex;
  }
  .address-links{
        line-height: 32px;
      color: #777777;
  }
  .copy-right-sec{
    padding: 1.8rem;
      background: #82074a;
      color: #fff;
      text-align: center;
  }
  .copy-right-sec a{
    color: #fcd462;
      font-weight: 500;
  }
  a{
    text-decoration:none;
  }

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 40px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #550802;
        margin-top: -1000px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius:30% ;
    }
    .nav-links li{
        margin: 30px auto;

    }
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
    .r{
        flex-direction: column;
    }
    .c .event-img{
        max-width: 90%;
    }
    
   
}